force-app/main/default/flows/Update_Case_Open_Date_and_Time.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>When Case is open</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>UpdateOpenDateForCanada</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(AND(VALUE(MID( TEXT( NOW() ), 12, 2)) &gt;= 4,VALUE(MID( TEXT( NOW() ), 12, 2)) &lt;= 13)
	,NOW()
	,IF(OR(VALUE(MID( TEXT( NOW() ), 12, 2)) &gt;= 19,VALUE(MID( TEXT( NOW() ), 12, 2)) &lt; 4)
		,DATETIMEVALUE(TEXT(YEAR(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(MONTH(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(DAY(DATEVALUE(NOW())))+&quot; 4:00:00&quot;)
			,DATETIMEVALUE(TEXT(YEAR(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(MONTH(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(DAY(DATEVALUE(NOW())))+&quot; 13:00:00&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_0695518899</name>
        <dataType>DateTime</dataType>
        <expression>IF(AND(VALUE(MID( TEXT( NOW() ), 12, 2)) &gt;= 4,VALUE(MID( TEXT( NOW() ), 12, 2)) &lt;= 13)
	,NOW()
	,IF(OR(VALUE(MID( TEXT( NOW() ), 12, 2)) &gt;= 19,VALUE(MID( TEXT( NOW() ), 12, 2)) &lt; 4)
		,DATETIMEVALUE(TEXT(YEAR(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(MONTH(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(DAY(DATEVALUE(NOW())))+&quot; 4:00:00&quot;)
			,DATETIMEVALUE(TEXT(YEAR(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(MONTH(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(DAY(DATEVALUE(NOW())))+&quot; 13:00:00&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_0737064972</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(AND(VALUE(MID( TEXT( NOW() ), 12, 2)) &gt;= 14,VALUE(MID( TEXT( NOW() ), 12, 2)) &lt;= 22)
,NOW()
,IF(OR(VALUE(MID( TEXT( NOW() ), 12, 2)) &lt; 14)
,DATETIMEVALUE(TEXT(YEAR(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(MONTH(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(DAY(DATEVALUE(NOW())))+&quot; 14:00:00&quot;)
,DATETIMEVALUE(TEXT(YEAR(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(MONTH(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(DAY(DATEVALUE(NOW())))+&quot; 22:00:00&quot;)))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_4838542269</name>
        <dataType>DateTime</dataType>
        <expression>IF(AND(VALUE(MID( TEXT( NOW() ), 12, 2)) &gt;= 14,VALUE(MID( TEXT( NOW() ), 12, 2)) &lt;= 22)
,NOW()
,IF(OR(VALUE(MID( TEXT( NOW() ), 12, 2)) &lt; 14)
,DATETIMEVALUE(TEXT(YEAR(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(MONTH(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(DAY(DATEVALUE(NOW())))+&quot; 14:00:00&quot;)
,DATETIMEVALUE(TEXT(YEAR(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(MONTH(DATEVALUE(NOW())))+&quot;-&quot; +TEXT(DAY(DATEVALUE(NOW())))+&quot; 22:00:00&quot;)))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_7_myRule_5_A1_7045540628</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(AND([Case].country_assignment__c == &apos;India&apos;,TEXT(PRIORVALUE([Case].Status )) != &apos;Open&apos;,TEXT(([Case].Status )) == &apos;Open&apos;),true,false)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!myVariable_current.country_assignment__c} == &apos;India&apos;,TEXT(PRIORVALUE({!myVariable_current.Status} )) != &apos;Open&apos;,TEXT(({!myVariable_current.Status} )) == &apos;Open&apos;),true,false)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(AND([Case].country_assignment__c == &apos;Canada&apos;,TEXT(PRIORVALUE([Case].Status )) != &apos;Open&apos;,TEXT(([Case].Status )) == &apos;Open&apos;),true,false)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND({!myVariable_current.country_assignment__c} == &apos;Canada&apos;,TEXT(PRIORVALUE({!myVariable_current.Status} )) != &apos;Open&apos;,TEXT(({!myVariable_current.Status} )) == &apos;Open&apos;),true,false)</expression>
    </formulas>
    <interviewLabel>Update_Case_Open_Date_and_Time-5_InterviewLabel</interviewLabel>
    <label>Update Case Open Date and Time</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update Open Date and time to now</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Date/Time Open Status changed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Date_Time_Open_Status_changed__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Opened At</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>opened_at__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_0695518899</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>tempOpenDate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>tempOpenDate__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_0737064972</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>UpdateTimeForCanada</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Date/Time Open Status changed</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>Date_Time_Open_Status_changed__c</field>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Opened At</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>opened_at__c</field>
            <value>
                <elementReference>formula_6_myRule_5_A1_4838542269</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>tempOpenDate</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>tempOpenDate__c</field>
            <value>
                <elementReference>formula_7_myRule_5_A1_7045540628</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
